body {
  background-color: #142533;
  color: #FFF;
  font-family: 'Courier New';
  font-size: 20px; }

a {
  color: #FFF;
  text-decoration: none; }

img {
  width: 100%; }

#arrow {
  width: 20%; }

.content {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  text-align: center; }

.cursive {
  font-family: 'Nothing You Could Do', cursive; }

.contact-link {
  display: inline-block;
  margin: 0 20px; }

.fa {
  transition: color .2s ease; }

.contact-link:focus,
.fa:hover {
  color: #55A1DD; }

.img-content {
  width: 60%;
  margin: auto;
  margin-top: 40px; }

#me-img {
  float: left;
  margin-right: 5%;
  padding: 20px 0;
  width: 75%; }

#me-text {
  margin: 0;
  padding-top: 40px; }

.type-line {
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto; }

/* -------- MEDIA QUERY ----------- */
@media (max-width: 900px) {
  .content {
    width: 90%;
    margin-top: 50px; }

  .img-content {
    width: 90%; }
}

/* -------- ANIMATIONS ------------- */
.fade-in {
  opacity: 0;
  -webkit-animation: anim-fade-in ease-in 1;
  -moz-animation: anim-fade-in ease-in 1;
  animation: anim-fade-in ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  animation-duration: .7s; }
@-webkit-keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1; } }
@keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1; } }

.typewriter {
  -webkit-animation: anim-typewriter 1.5s steps(12) 1s 1 normal both,
            blinkTextCursor 1s steps(12) infinite normal;
  -moz-animation: anim-typewriter 1.5s steps(12) 1s 1 normal both,
            blinkTextCursor 1s steps(12) infinite normal;
  animation: anim-typewriter 1.5s steps(12) 1s 1 normal both,
            blinkTextCursor 1s steps(12) infinite normal; }
@-webkit-keyframes anim-typewriter { from { width: 0; } to { width: 14rem; } }
@-moz-keyframes anim-typewriter { from { width: 0; } to { width: 14rem; } }
@keyframes anim-typewriter { from { width: 0; } to { width: 14rem; } }

@-webkit-keyframes blinkTextCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
@-moz-keyframes blinkTextCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
@keyframes blinkTextCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
