body {
  background-color: #142533;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

a {
  color: #FFF;
  text-decoration: none; }

h1 {
  font-family: 'Nothing You Could Do', cursive; }

.content {
  width: 60%;
  margin: auto;
  margin-top: 120px;
  text-align: center;
}

.contact-link {
  display: inline-block;
  margin: 0 20px;
}

.fa {
  transition: color .2s ease; }

.contact-link:focus,
.fa:hover {
  text-decoration: none;
  color: #55A1DD; }

@media (max-width: 600px) {
  .content{
    width: 90%;
  }
}