html, body {
    height: 100%; }

body {
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

a {
  color: #FFF; }

.sectionTitle {
  font-size: 50px; }

#menu {
  color: #FFF;
  background-color: #55A1DD;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  min-height: 100%; }

#menuOptions {
  display: block; }

@media only screen and (max-width : 992px) {
  #header {
    text-align: left;
    padding-left: 20px; }
  
  #menu {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 1; }
  
  #menuOptions {
    display: none; }
  
  #contentWrap {
    margin-top: 120px; }  
}

.clip {
  position: relative;
  height: 150px;
  width: 100%;
  background-color: #444;
  padding: 0;
  overflow: hidden; }
.clip:hover {
  cursor: pointer; }

.clip-right {
  -webkit-clip-path: polygon(0 0, 100% 75%, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 75%, 70% 100%, 0% 100%); }

.clip-left {
  -webkit-clip-path: polygon(100% 0, 0 75%, 30% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 75%, 30% 100%, 100% 100%); }

.clip h3 {
  line-height: 150px;
  padding: 0 10px 0 10px; }

.clip a { 
  position: absolute;
  top: 0;
  left: 10%;
  color: #FFF;
  pointer-events: none; }
.clip a:hover {
  text-decoration: none; }

.clip-left a {
  left: 60%; }

.menuImg {
  opacity: 0;
  min-height: 100%;
  width: 100%;
  pointer-events: none; }


.content {
  min-height: 100%;
  padding: 0 20px 0 20px; }

.content hr {
  border-color: #DDD;
  border-width: 3px; }

.project {
  transition: transform .2s ease;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 200px;
  width: 300px; }

.project:hover {
  transform: scaleX(1.1) scaleY(1.2);
  cursor: pointer;
  -webkit-filter: drop-shadow(5px 5px 2px #000);
  opacity: 0.5; }

.project img {
  z-index: 1;
  height: auto; 
  width: auto; 
  max-height: 200px;
  max-width: 300px; }

.project:hover img {
  -webkit-filter: brightness(0.2);
}

.project p {
  display: none; }

.carousel-caption {
  color: #FFF;
  visibility: hidden;
}
.project:hover .carousel-caption {
  visibility: visible;
}

#popUp {
  color: #FFF;
  height: 100%;
  width: 100%;
  background-color: #55a1dd;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  overflow: auto;
  z-index: 2; }


#popUp hr {
  border-color: #444;
  border-width: 3px; }

.fa {
  color: #444;
  margin: 0px 5px 0px 5px; }

.fa:hover {
  text-decoration: none;
  color: #55A1DD; }

.fa-close {
  color: #FFF;
  margin: 10px; }

.fa-close:hover {
  color: #444;
  cursor: pointer; }
